In [8]:
import pandas as pd
from fastai.tabular.all import *

In [9]:
path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

(#4) [Path('C:/Users/MAGISTR/.fastai/data/adult_sample/adult.csv'),Path('C:/Users/MAGISTR/.fastai/data/adult_sample/DL_tabular_model.pkl'),Path('C:/Users/MAGISTR/.fastai/data/adult_sample/export.pkl'),Path('C:/Users/MAGISTR/.fastai/data/adult_sample/models')]

In [10]:
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [11]:
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, bs=64, y_names='salary', skipinitialspace=False,
                                  cat_names=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex'],
                                  cont_names=['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'],
                                  procs = [Categorify, FillMissing, Normalize])

learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(4)

c:\Users\MAGISTR\anaconda3\Lib\site-packages\fastai\tabular\core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [12]:
row, pred, probs = learn.predict(df.iloc[0])
pred.item(), probs

c:\Users\MAGISTR\anaconda3\Lib\site-packages\fastai\tabular\core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

(1, tensor([0.2667, 0.7333]))

In [14]:
row.show()

In [17]:
filename = 'Dl_tabular.pkl'
with open(filename, 'wb') as file:
    pickle.dump(learn, file)

In [19]:
with open('Dl_tabular.pkl', 'rb') as file:
    model = pickle.load(file)

In [21]:
model.predict(df.iloc[0])

c:\Users\MAGISTR\anaconda3\Lib\site-packages\fastai\tabular\core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

(   workclass  education  marital-status  occupation  relationship  race  sex  \
 0        5.0        8.0             3.0         0.0           6.0   5.0  1.0

    education-num_na       age    fnlwgt  education-num  capital-gain  \
 0               1.0  0.767491 -0.835594       0.750378       -0.1457

    capital-loss  hours-per-week  salary
 0       4.47101       -0.036259     1.0  ,
 tensor(1),
 tensor([0.2667, 0.7333]))